﻿@model IEnumerable<MVCMahasiswa.ViewModels.TglMasukGroup>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Data mahasiswa yang terdaftar dalam sistem</p>

<table class="table">
    <tr>
        <th>Tanggal Masuk</th>
        <th>Mahasiswa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TglMasuk)</td>
            <td>@item.MahasiswaCount</td>
        </tr>
    }
</table>

