﻿@model MVCMahasiswa.Models.Mahasiswa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mahasiswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaMahasiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaMahasiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglMasuk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglMasuk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaftarNilais)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Nama Mata Kuliah</th>
                    <th>Nilai</th>
                </tr>
                @foreach (var item in Model.DaftarNilais)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MataKuliah.NamaMataKuliah)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IndexNilai)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MahasiswaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
