﻿@*@model IEnumerable<MVCMahasiswa.Models.Mahasiswa>*@
@model PagedList.IPagedList<MVCMahasiswa.Models.Mahasiswa>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Mahasiswa";
}

<h2>Daftar Mahasiswa</h2>
@if ((User.Identity.IsAuthenticated) && (this.User.IsInRole("Admin")))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

@using (Html.BeginForm("Index", "Mahasiswa", FormMethod.Get))
{
    <p>
        Cari Nama Mhs: @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.NamaMahasiswa)*@
            @Html.ActionLink("Nama Mahasiswa", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TglMasuk)*@
            @Html.ActionLink("Tgl Masuk", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaMahasiswa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglMasuk)
        </td>
@if (User.Identity.IsAuthenticated) { 
        <td>        
             
                    @Html.ActionLink("Edit", "Edit", new { id=item.MahasiswaID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.MahasiswaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MahasiswaID })
        </td>
}
    </tr>
}

</table><br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.currentSort, currentFilter = ViewBag.currentFilter}))
