﻿@model MVCMahasiswa.Models.DaftarNilai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DaftarNilai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mahasiswa.NamaMahasiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahasiswa.NamaMahasiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MataKuliah.NamaMataKuliah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MataKuliah.NamaMataKuliah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexNilai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexNilai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DaftarNilaiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
