﻿@model IEnumerable<MVCMahasiswa.Models.DaftarNilai>
@{
    ViewBag.Title = "Index";
}

<h2>Daftar Nilai</h2>
@if (User.Identity.IsAuthenticated)
{
    

<p>
    @Html.ActionLink("Create New", "Create")
</p>
using (Html.BeginForm("Index", "DaftarNilai", FormMethod.Get))
{
    <p>
        Cari Nama: @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Mahasiswa.NamaMahasiswa)*@
            @Html.ActionLink("Nama Mahasiswa", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.MataKuliah.NamaMataKuliah)*@
            @Html.ActionLink("Nama Mata Kuliah", "Index", new { sortOrder = ViewBag.NameMKSortParm })
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.IndexNilai)*@
            @Html.ActionLink("Index Nilai", "Index", new { sortOrder = ViewBag.IndexNilSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mahasiswa.NamaMahasiswa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MataKuliah.NamaMataKuliah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNilai)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DaftarNilaiID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DaftarNilaiID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DaftarNilaiID })
            </td>
        }
        
    </tr>
}

</table>
} else {
 <h3>Please Login to access</h3>

}