﻿@model IEnumerable<MVCMahasiswa.Models.MataKuliah>

@{
    ViewBag.Title = "Daftar Mata Kuliah";
}

<h2>Daftar Mata Kuliah</h2>
@if ((User.Identity.IsAuthenticated) && (this.User.IsInRole("Admin")))
{    
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}


@using (Html.BeginForm("Index", "MataKuliah", FormMethod.Get))
{
    <p>
        Cari Nama: @Html.TextBox("searchString", ViewBag.currentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(model => model.NamaMataKuliah)*@
            @Html.ActionLink("Nama Mata Kuliah", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bobot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaMataKuliah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bobot)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MataKuliahID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MataKuliahID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MataKuliahID })
            </td>
        }        
    </tr>
}

</table>
