﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Available Roles</h2>
@Html.ActionLink("Create Role", "Create", "Role")
<style type="text/css" >
    #tbrole,.c{
        border:double;
    }
</style>

<table id="tbrole">
    <tr>
        <td class="c">Role Name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>
        </tr>
    }    
</table>